<div class="container m-4">
  <div class="row">
    <div class="col">

      <h1>Browse Branches</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-right pb-3">
      <a class="btn btn-outline-dark" href="/branches/bySales" role="button">Sort by Sales</a>
      <a class="btn btn-outline-dark ml-2" href="/branches/byLocation" role="button">Sort by Location</a>
      <a class="btn btn-primary ml-5" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">+
        New</a>
    </div>
  </div>
  {{!-- <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> --}}


  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Location</th>
          <th>Total Sales</th>
          <th>Products</th>
          <th>Orders</th>
          <th>Customers</th>
          <th>Edit</th>
          <th>Del.</th>
        </tr>

        {{#each branches}}
        <tr>
          <td>{{name}}</td>
          <td>{{tot_sales}}</td>
          <td>{{tot_products}}</td>
          <td>{{tot_orders}}</td>
          <td>{{tot_customers}}</td>
          <td class="text-center"><a href="/branches/{{id}}">✏️</a></td>
          <td class="text-center"><button class="bg-transparent border-0" onclick="deleteBranch({{id}})">🗑</button>
          </td>

        </tr>
        {{/each}}
      </table>
    </div>
  </div>

</div>

<!--Add Branch Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addbranch" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label for="branchLocation">Location</label>
            <input type="text" name="branchLocation" class="form-control" id="branchLocation"
              aria-describedby="locationHelp" placeholder="Enter location">
            <small id="emailHelp" class="form-text text-muted">Ex. "Portland, OR" or "Seattle, WA"</small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{!-- <input type="submit" value="submit"> --}}
          <button class="btn btn-primary">Submit</button>
          </input>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/deletebranch.js" defer></script>