<div class="container m-4">
  <div class="row">
    <div class="col">

      <h1>Browse Products</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-right pb-3">
      <a class="btn btn-outline-dark" href="/products/byBranch" role="button">Sort by Branch</a>
      <a class="btn btn-outline-dark ml-2" href="/products/byPrice" role="button">Sort by Price</a>
      <a class="btn btn-primary ml-5" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">+
        New</a>
    </div>
  </div>
  {{!-- <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> --}}


  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Branch</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Del.</th>
        </tr>

        {{#each products}}
        <tr>
          <td>{{name}}</td>
          <td>{{branch}}</td>
          <td>{{price}}</td>
          <td class="text-center"><a href="/products/{{id}}">✏️</a></td>
          <td class="text-center"><button class="bg-transparent border-0" onclick="deleteProduct({{id}})">🗑</button></td>

        </tr>
        {{/each}}
      </table>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addproduct" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label for="productName">Name</label>
            <input type="text" name="productName" class="form-control" id="productName"
              aria-describedby="nameHelp" placeholder="Enter product name">
            <small id="emailHelp" class="form-text text-muted">Ex. "Big Boat" or "Fun Boat"</small>
          </div>


          <div class="form-group">
            <label for="productPrice">Price</label>
            <input type="number" name="productPrice" class="form-control" id="productPrice"
              aria-describedby="priceHelp" placeholder="Enter product price">
            <small id="priceHelp" class="form-text text-muted">Ex. 45,000</small>
          </div>


          <div class="form-group">
            <label for="productBranch">Branch</label>
            <select id="productBranch" name="productBranch">
              {{#each branches}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/deleteproduct.js" defer></script>
