<html>
<h1>Update {{order.name}}:</h1>
<form id="update-orders" action="" method="post">
    Order purchase_date: <input type="text" name="purchase_date" value="{{order.purchase_date}}"><br>
    Order total_price: <input type="text" name="total_price" value="{{order.total_price}}"><br>
    Order customer_id: <input type="text" name="customer_id" value="{{order.customer_id}}"><br>
    Order branch_id: <input type="text" name="branch_id" value="{{order.branch_id}}"><br>
    {{!-- <input type="submit" value="Update"/> --}}


</form>
<button onclick="updateOrder({{order.id}})">Update</button>
{{!-- <script defer>selectPlanet({{ person.homeworld }});</script> --}}
<script type="text/javascript" src="/updateorder.js" defer></script>


</html>
